:host { display: block; }

.action-menu { display: none; gap: .5rem; }

:host ::ng-deep {
  .lotes-table { overflow-x: auto; }
  .lotes-table .p-datatable-wrapper { min-width: 100%; }
}

@media (max-width: 1023px) {
  .action-buttons { display: none !important; }
  .action-menu { display: flex; }
}

@media (max-width: 767px) {
  .range-fields { align-items: stretch !important; flex-direction: column; }
  .range-fields > span { display: none; }
  .range-fields .p-inputtext { width: 100%; }
}
